<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>


        <activity-alias
            android:name=".features.Game"
            android:exported="true"
            android:targetActivity="im.vector.game.GameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="im.vector.game.GameActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:name=".features.Alias"
            android:exported="true"
            android:targetActivity="im.vector.app.features.MainActivity"
            tools:node="replace">

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

    </application>
</manifest>
